# Scraping Code

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from bs4 import BeautifulSoup
import requests
import time, os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

chromedriver = "/Applications/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

sns.set(context='notebook', style='whitegrid', font_scale=1.2)

In [79]:
# Checking to see if we can scrape here

url = 'https://www.pro-football-reference.com/robots.txt'

response  = requests.get(url)
response.status_code

200

In [80]:
# Our dataframe that we need to fill

#nfl_df = pd.DataFrame(columns = ['Team', 'Year', '1st Passing %' , '2nd Passing %', '3rd Passing %', '2nd Avg Yards to Go', '3rd Avg Yards to Go', '1st 1D Conversion %', '2nd 1D Conversion %', '3rd 1D Conversion %', 'Leading % Passing', 'Tied % Passing', 'Trailing % Passing'])
nfl_df.head()

Empty DataFrame
Columns: [Team, Year, 1st Passing %, 2nd Passing %, 3rd Passing %, 2nd Avg Yards to Go, 3rd Avg Yards to Go, 1st 1D Conversion %, 2nd 1D Conversion %, 3rd 1D Conversion %, Leading % Passing, Tied % Passing, Trailing % Passing]
Index: []

In [301]:
def pull_stats(team_acr, team, year):
    
    # Dictionary to fill per row in dataframe
    keys = ['Team', 'Year', '1st Passing %', '2nd Passing %', '3rd Passing %', '2nd Avg Yards to Go', '3rd Avg Yards to Go', '1st 1D Conversion %', '2nd 1D Conversion %', '3rd 1D Conversion %', 'Leading % Passing', 'Tied % Passing', 'Trailing % Passing']
    team_dict = dict.fromkeys(keys)

    # start on home page
    home_page = 'https://www.pro-football-reference.com/'
    #home_page = 'https://www.pro-football-reference.com/teams/buf/' #only for specific team page
    driver.get(home_page)

    # go to team page
    team_dict['Team'] = team
    search_box = driver.find_element_by_xpath("//input[@placeholder='Enter Person, Team, Section, etc']")
    search_box.send_keys(team)
    search_box.send_keys(Keys.RETURN) #hit enter
    time.sleep(10)
    
    # go to team + year page
    team_dict['Year'] = year
    team_page = driver.find_element_by_xpath("//a[@href='/teams/{}/{}.htm']".format(team_acr, year))
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
    driver.execute_script("arguments[0].scrollIntoView();", team_page)
    time.sleep(5)
    driver.execute_script("window.scrollBy(0, -150);")
    time.sleep(5)
    team_page.click()
    
    # offensive splits
    time.sleep(5)
    team_splits = driver.find_element_by_xpath("//div[@id='bottom_nav_container']//a[@href='/teams/{}/{}_splits.htm']".format(team_acr, year))
    driver.execute_script("arguments[0].scrollIntoView();", team_splits)
    time.sleep(5)
    driver.execute_script("window.scrollBy(0, 150);")
    team_splits.click()
    
    # soup
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    # splits by down table
    splits_by_down_table = soup.find(id = 'div_down_splits')
    
    # First Feature
    passing_plays_1st = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[1].text) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[1].text)
    team_dict['1st Passing %'] = passing_plays_1st
    
    # Second Feature
    passing_plays_2nd = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[2].text) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[2].text)
    team_dict['2nd Passing %'] = passing_plays_2nd

    # Third Feature
    passing_plays_3rd = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[3].text) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[3].text)
    team_dict['3rd Passing %'] = passing_plays_3rd

    # Fourth Feature
    yards_to_go_2nd = float(splits_by_down_table.find_all(attrs={"data-stat": "yds_to_go"})[2].text)
    team_dict['2nd Avg Yards to Go'] = yards_to_go_2nd

    # Fifth Feature
    yards_to_go_3rd = float(splits_by_down_table.find_all(attrs={"data-stat": "yds_to_go"})[3].text)
    team_dict['3rd Avg Yards to Go'] = yards_to_go_3rd
    
    # Sixth Feature
    conversion_1st = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[1].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[1].text) ) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[1].text)
    team_dict['1st 1D Conversion %'] = conversion_1st
    
    # Seventh Feature
    conversion_2nd = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[2].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[2].text) ) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[2].text)
    team_dict['2nd 1D Conversion %'] = conversion_2nd
    
    # Eighth Feature
    conversion_3rd = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[3].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[3].text) ) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[3].text)
    team_dict['3rd 1D Conversion %'] = conversion_3rd
    
    # splits by point difference table
    splits_by_pf_table = soup.find(id = 'div_pt_diff_splits')
    
    # Nineth Feature
    leading_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[1].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[1].text)
    team_dict['Leading % Passing'] = leading_passing_plays
    
    # Tenth Feature
    tied_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[2].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[2].text)
    team_dict['Tied % Passing'] = tied_passing_plays
    
    # Eleventh Feature
    trailing_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[3].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[3].text)
    team_dict['Trailing % Passing'] = trailing_passing_plays
    
    return team_dict

In [302]:
def next_pull_stats(team, year):
    # Dictionary to fill per row in dataframe
    keys = ['Team', 'Year', '1st Passing %', '2nd Passing %', '3rd Passing %', '2nd Avg Yards to Go', '3rd Avg Yards to Go', '1st 1D Conversion %', '2nd 1D Conversion %', '3rd 1D Conversion %', 'Leading % Passing', 'Tied % Passing', 'Trailing % Passing']
    team_dict = dict.fromkeys(keys)
    
    team_dict['Team'] = team
    team_dict['Year'] = year

    # Next Page
    next_page = driver.find_element_by_xpath("//div[@class='prevnext']//a[@class='button2 next']")
    next_page.click()
    time.sleep(3)
    
    # soup
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    
    # splits by down table
    splits_by_down_table = soup.find(id = 'div_down_splits')
    
    # First Feature
    passing_plays_1st = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[1].text) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[1].text)
    team_dict['1st Passing %'] = passing_plays_1st
    
    # Second Feature
    passing_plays_2nd = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[2].text) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[2].text)
    team_dict['2nd Passing %'] = passing_plays_2nd

    # Third Feature
    passing_plays_3rd = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[3].text) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[3].text)
    team_dict['3rd Passing %'] = passing_plays_3rd

    # Fourth Feature
    yards_to_go_2nd = float(splits_by_down_table.find_all(attrs={"data-stat": "yds_to_go"})[2].text)
    team_dict['2nd Avg Yards to Go'] = yards_to_go_2nd

    # Fifth Feature
    yards_to_go_3rd = float(splits_by_down_table.find_all(attrs={"data-stat": "yds_to_go"})[3].text)
    team_dict['3rd Avg Yards to Go'] = yards_to_go_3rd
    
    # Sixth Feature
    conversion_1st = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[1].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[1].text) ) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[1].text)
    team_dict['1st 1D Conversion %'] = conversion_1st
    
    # Seventh Feature
    conversion_2nd = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[2].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[2].text) ) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[2].text)
    team_dict['2nd 1D Conversion %'] = conversion_2nd
    
    # Eighth Feature
    conversion_3rd = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[3].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[3].text) ) / int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[3].text)
    team_dict['3rd 1D Conversion %'] = conversion_3rd
    
    # splits by point difference table
    splits_by_pf_table = soup.find(id = 'div_pt_diff_splits')
    
    # Nineth Feature
    leading_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[1].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[1].text)
    team_dict['Leading % Passing'] = leading_passing_plays
    
    # Tenth Feature
    tied_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[2].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[2].text)
    team_dict['Tied % Passing'] = tied_passing_plays
    
    # Eleventh Feature
    trailing_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[3].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[3].text)
    team_dict['Trailing % Passing'] = trailing_passing_plays
    
    return team_dict

In [308]:
#driver = webdriver.Chrome(chromedriver)

In [309]:
#nfl_df = nfl_df.append(pull_stats('sdg', 'Los Angeles Chargers', 1994), ignore_index=True) #first year
#for year in range(1995, 2021): #rest of years
    #nfl_df = nfl_df.append(next_pull_stats('Los Angeles Chargers', year), ignore_index=True)

In [358]:
nfl_df
#nfl_df.to_csv('nfl_df.csv')

,Team,Year,1st Passing %,2nd Passing %,3rd Passing %,2nd Avg Yards to Go,3rd Avg Yards to Go,1st 1D Conversion %,2nd 1D Conversion %,3rd 1D Conversion %,Leading % Passing,Tied % Passing,Trailing % Passing,DVOA
0,Arizona Cardinals,1994,0.375000,0.509915,0.793860,8.51,8.07,0.192982,0.263456,0.337719,0.397380,0.451737,0.584369,-0.166
1,Arizona Cardinals,1995,0.436652,0.584570,0.768116,7.96,7.83,0.171946,0.299703,0.342995,0.559441,0.463415,0.584356,-0.237
2,Arizona Cardinals,1996,0.525386,0.552023,0.736842,8.04,7.24,0.185430,0.268786,0.421053,0.443966,0.513369,0.651200,-0.048
3,Arizona Cardinals,1997,0.543290,0.504323,0.669421,8.90,8.22,0.199134,0.230548,0.359504,0.477528,0.502283,0.600000,-0.138
4,Arizona Cardinals,1998,0.454936,0.505780,0.703196,7.57,6.99,0.203863,0.289017,0.347032,0.446203,0.498127,0.596567,-0.062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,Los Angeles Chargers,2016,0.435345,0.642012,0.765000,7.99,6.78,0.217672,0.343195,0.425000,0.524752,0.531792,0.631579,NaN
847,Los Angeles Chargers,2017,0.446121,0.601190,0.808612,8.43,7.23,0.245690,0.321429,0.401914,0.498708,0.553191,0.653266,NaN
848,Los Angeles Chargers,2018,0.434590,0.553398,0.796610,7.91,7.35,0.279379,0.362460,0.384181,0.474041,0.558333,0.615183,NaN
849,Los Angeles Chargers,2019,0.498901,0.642424,0.757732,7.78,7.22,0.224176,0.339394,0.443299,0.505495,0.548780,0.658929,NaN
850,Los Angeles Chargers,2020,0.446029,0.596899,0.750000,7.94,6.50,0.169043,0.369509,0.441964,0.495957,0.513636,0.616822,NaN

In [369]:
nfl_df['Team'].unique()

array(['Arizona Cardinals', 'Los Angeles Rams', 'San Francisco 49ers',
       'Seattle Seahawks', 'Denver Broncos', 'Las Vegas Raiders',
       'Kansas City Chiefs', 'Carolina Panthers', 'Tampa Bay Buccaneers',
       'New Orleans Saints', 'Atlanta Falcons', 'Tennessee Titans',
       'Houston Texans', 'Indianapolis Colts', 'Jacksonville Jaguars',
       'Green Bay Packers', 'Minnesota Vikings', 'Chicago Bears',
       'Detroit Lions', 'Cleveland Browns', 'Baltimore Ravens',
       'Cincinnati Bengals', 'Pittsburgh Steelers', 'Dallas Cowboys',
       'Philadelphia Eagles', 'Washington Football Team',
       'Miami Dolphins', 'New England Patriots', 'New York Jets',
       'New York Giants', 'Buffalo Bills', 'Los Angeles Chargers'],
      dtype=object)

In [372]:
len(dvoa_df['Team'].unique())

32

In [370]:
dvoa_df['Team'].replace({'SF': 'San Francisco 49ers', 'DAL': 'Dallas Cowboys', 'MIA': 'Miami Dolphins', 'PIT': 'Pittsburgh Steelers', 'GB': 'Green Bay Packers', 'SD': 'Los Angeles Chargers', 'KC': 'Kansas City Chiefs', 'DET': 'Detroit Lions', 'NO': 'New Orleans Saints', 'BUF': 'Buffalo Bills', 'DEN': 'Denver Broncos', 'LARM': 'Los Angeles Rams', 'CHI': 'Chicago Bears', 'NE': 'New England Patriots', 'NYJ': 'New York Jets', 'PHI': 'Philadelphia Eagles', 'CLE1': 'Cleveland Browns', 'MIN': 'Minnesota Vikings', 'ATL': 'Atlanta Falcons', 'IND': 'Indianapolis Colts', 'TB': 'Tampa Bay Buccaneers', 'NYG': 'New York Giants', 'LARD': 'Las Vegas Raiders', 'WAS': 'Washington Football Team', 'SEA': 'Seattle Seahawks', 'ARI': 'Arizona Cardinals', 'CIN': 'Cincinnati Bengals', 'HOIL': 'Tennessee Titans', 'OAK': 'Las Vegas Raiders', 'STL': 'Los Angeles Rams', 'JAX': 'Jacksonville Jaguars', 'CAR': 'Carolina Panthers', 'BAL': 'Baltimore Ravens', 'TEN': 'Tennessee Titans', 'CLE': 'Cleveland Browns', 'HOU': 'Houston Texans', 'LAR': 'Los Angeles Rams', 'LAC': 'Los Angeles Chargers', 'LV': 'Las Vegas Raiders'},inplace=True)

                         Team Total DVOA  Year
0         San Francisco 49ers      19.5%  1994
1              Dallas Cowboys      18.8%  1994
2              Miami Dolphins      18.5%  1994
3         Pittsburgh Steelers      13.5%  1994
4           Green Bay Packers      13.5%  1994
..                        ...        ...   ...
844       Philadelphia Eagles     -16.9%  2020
845        Cincinnati Bengals     -18.2%  2020
846            Denver Broncos     -20.0%  2020
847             New York Jets     -20.5%  2020
848  Washington Football Team     -21.8%  2020

[849 rows x 3 columns]

In [394]:
dvoa_df['DVOA'] = dvoa_df['Total DVOA'].apply(lambda x: float(x.replace('%', ''))/100)
dvoa_df

                         Team Total DVOA  Year   DVOA
0         San Francisco 49ers      19.5%  1994  0.195
1              Dallas Cowboys      18.8%  1994  0.188
2              Miami Dolphins      18.5%  1994  0.185
3         Pittsburgh Steelers      13.5%  1994  0.135
4           Green Bay Packers      13.5%  1994  0.135
..                        ...        ...   ...    ...
844       Philadelphia Eagles     -16.9%  2020 -0.169
845        Cincinnati Bengals     -18.2%  2020 -0.182
846            Denver Broncos     -20.0%  2020 -0.200
847             New York Jets     -20.5%  2020 -0.205
848  Washington Football Team     -21.8%  2020 -0.218

[849 rows x 4 columns]

In [398]:
final_dvoa_df = dvoa_df.drop(columns=['Total DVOA'])
final_dvoa_df

                         Team  Year   DVOA
0         San Francisco 49ers  1994  0.195
1              Dallas Cowboys  1994  0.188
2              Miami Dolphins  1994  0.185
3         Pittsburgh Steelers  1994  0.135
4           Green Bay Packers  1994  0.135
..                        ...   ...    ...
844       Philadelphia Eagles  2020 -0.169
845        Cincinnati Bengals  2020 -0.182
846            Denver Broncos  2020 -0.200
847             New York Jets  2020 -0.205
848  Washington Football Team  2020 -0.218

[849 rows x 3 columns]

In [409]:
final_nfl = nfl_df.merge(final_dvoa_df, how = 'left', on = ['Team','Year'])
final_nfl

,Team,Year,1st Passing %,2nd Passing %,3rd Passing %,2nd Avg Yards to Go,3rd Avg Yards to Go,1st 1D Conversion %,2nd 1D Conversion %,3rd 1D Conversion %,Leading % Passing,Tied % Passing,Trailing % Passing,DVOA
0,Arizona Cardinals,1994,0.375000,0.509915,0.793860,8.51,8.07,0.192982,0.263456,0.337719,0.397380,0.451737,0.584369,-0.166
1,Arizona Cardinals,1995,0.436652,0.584570,0.768116,7.96,7.83,0.171946,0.299703,0.342995,0.559441,0.463415,0.584356,-0.237
2,Arizona Cardinals,1996,0.525386,0.552023,0.736842,8.04,7.24,0.185430,0.268786,0.421053,0.443966,0.513369,0.651200,-0.048
3,Arizona Cardinals,1997,0.543290,0.504323,0.669421,8.90,8.22,0.199134,0.230548,0.359504,0.477528,0.502283,0.600000,-0.138
4,Arizona Cardinals,1998,0.454936,0.505780,0.703196,7.57,6.99,0.203863,0.289017,0.347032,0.446203,0.498127,0.596567,-0.062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,Los Angeles Chargers,2016,0.435345,0.642012,0.765000,7.99,6.78,0.217672,0.343195,0.425000,0.524752,0.531792,0.631579,-0.033
847,Los Angeles Chargers,2017,0.446121,0.601190,0.808612,8.43,7.23,0.245690,0.321429,0.401914,0.498708,0.553191,0.653266,0.103
848,Los Angeles Chargers,2018,0.434590,0.553398,0.796610,7.91,7.35,0.279379,0.362460,0.384181,0.474041,0.558333,0.615183,0.208
849,Los Angeles Chargers,2019,0.498901,0.642424,0.757732,7.78,7.22,0.224176,0.339394,0.443299,0.505495,0.548780,0.658929,0.035
850,Los Angeles Chargers,2020,0.446029,0.596899,0.750000,7.94,6.50,0.169043,0.369509,0.441964,0.495957,0.513636,0.616822,0.015

In [420]:
final_nfl.head()

,Team,Year,1st Passing %,2nd Passing %,3rd Passing %,2nd Avg Yards to Go,3rd Avg Yards to Go,1st 1D Conversion %,2nd 1D Conversion %,3rd 1D Conversion %,Leading % Passing,Tied % Passing,Trailing % Passing,DVOA
0,Arizona Cardinals,1994,0.375000,0.509915,0.793860,8.51,8.07,0.192982,0.263456,0.337719,0.397380,0.451737,0.584369,-0.166
1,Arizona Cardinals,1995,0.436652,0.584570,0.768116,7.96,7.83,0.171946,0.299703,0.342995,0.559441,0.463415,0.584356,-0.237
2,Arizona Cardinals,1996,0.525386,0.552023,0.736842,8.04,7.24,0.185430,0.268786,0.421053,0.443966,0.513369,0.651200,-0.048
3,Arizona Cardinals,1997,0.543290,0.504323,0.669421,8.90,8.22,0.199134,0.230548,0.359504,0.477528,0.502283,0.600000,-0.138
4,Arizona Cardinals,1998,0.454936,0.505780,0.703196,7.57,6.99,0.203863,0.289017,0.347032,0.446203,0.498127,0.596567,-0.062

In [428]:
final_nfl.to_csv('final_nfl.csv')

# Gathering DVOA Data

In [328]:
# dvoa_1994 = pd.read_csv('1994 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_1994['Year'] = 1994
# dvoa_1994

    Team Total DVOA  Year
0     SF      19.5%  1994
1    DAL      18.8%  1994
2    MIA      18.5%  1994
3    PIT      13.5%  1994
4     GB      13.5%  1994
5     SD       9.2%  1994
6     KC       8.1%  1994
7    DET       7.4%  1994
8     NO       7.3%  1994
9    BUF       5.0%  1994
10   DEN       1.4%  1994
11  LARM      -0.7%  1994
12   CHI      -0.8%  1994
13    NE      -1.0%  1994
14   NYJ      -1.8%  1994
15   PHI      -1.9%  1994
16  CLE1      -3.9%  1994
17   MIN      -4.0%  1994
18   ATL      -5.3%  1994
19   IND      -6.3%  1994
20    TB      -6.9%  1994
21   NYG      -8.0%  1994
22  LARD      -9.4%  1994
23   WAS     -10.1%  1994
24   SEA     -10.9%  1994
25   ARI     -16.6%  1994
26   CIN     -16.9%  1994
27  HOIL     -22.2%  1994

In [329]:
# dvoa_1995 = pd.read_csv('1995 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_1995['Year'] = 1995
# dvoa_1995

    Team Total DVOA  Year
0    DAL      30.1%  1995
1     GB      20.8%  1995
2    CHI      20.5%  1995
3     SF      19.5%  1995
4    DEN      18.2%  1995
5    DET      15.7%  1995
6    ATL      14.9%  1995
7    MIA       6.4%  1995
8     SD       5.3%  1995
9     NO       3.8%  1995
10   MIN       3.4%  1995
11   PIT       3.3%  1995
12    KC       2.7%  1995
13   CIN       2.4%  1995
14   OAK      -0.9%  1995
15   WAS      -1.5%  1995
16   IND      -2.1%  1995
17   SEA      -4.3%  1995
18  CLE1      -5.1%  1995
19   BUF      -5.4%  1995
20   NYG      -6.4%  1995
21    NE      -9.5%  1995
22   STL      -9.5%  1995
23   JAX      -9.9%  1995
24   PHI     -11.8%  1995
25  HOIL     -12.8%  1995
26    TB     -13.8%  1995
27   ARI     -23.7%  1995
28   CAR     -25.8%  1995
29   NYJ     -31.3%  1995

In [330]:
# dvoa_1996 = pd.read_csv('1996 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_1996['Year'] = 1996
# dvoa_1996

    Team Total DVOA  Year
0    BAL      22.8%  1996
1    WAS      17.3%  1996
2     GB      16.1%  1996
3    DEN      13.6%  1996
4     KC      11.6%  1996
5     SF      10.1%  1996
6    CIN       8.4%  1996
7    JAX       7.6%  1996
8    MIA       7.2%  1996
9    PHI       7.1%  1996
10   PIT       6.6%  1996
11   DAL       5.9%  1996
12    NE       3.9%  1996
13   DET       3.8%  1996
14   OAK       1.2%  1996
15  HOIL       0.7%  1996
16   CAR       0.2%  1996
17   CHI      -0.3%  1996
18   ATL      -3.2%  1996
19   ARI      -4.8%  1996
20    SD      -6.7%  1996
21   IND      -7.9%  1996
22   MIN      -8.0%  1996
23   SEA     -10.8%  1996
24   NYJ     -12.0%  1996
25   BUF     -12.7%  1996
26    TB     -14.5%  1996
27    NO     -17.6%  1996
28   NYG     -21.2%  1996
29   STL     -27.4%  1996

In [331]:
# dvoa_1997 = pd.read_csv('1997 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_1997['Year'] = 1997
# dvoa_1997

   Team Total DVOA  Year
0   JAX      23.4%  1997
1   DEN      20.2%  1997
2   CIN      18.0%  1997
3    GB      15.9%  1997
4    KC      13.8%  1997
5   PIT      13.4%  1997
6   MIA      11.2%  1997
7   MIN       9.1%  1997
8    NE       7.5%  1997
9    SF       5.7%  1997
10  TEN       4.1%  1997
11  DET       4.0%  1997
12  SEA       2.8%  1997
13  WAS       2.4%  1997
14  BAL       1.8%  1997
15   TB       1.7%  1997
16  PHI       1.1%  1997
17  OAK      -0.7%  1997
18  DAL      -1.5%  1997
19  NYJ      -1.7%  1997
20  ATL      -4.9%  1997
21  NYG      -5.1%  1997
22  CAR      -8.1%  1997
23  IND      -9.3%  1997
24  ARI     -13.8%  1997
25  CHI     -13.9%  1997
26  STL     -15.0%  1997
27  BUF     -18.3%  1997
28   SD     -28.6%  1997
29   NO     -36.2%  1997

In [332]:
# dvoa_1998 = pd.read_csv('1998 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_1998['Year'] = 1998
# dvoa_1998

   Team Total DVOA  Year
0   DEN      35.0%  1998
1    SF      29.3%  1998
2   MIN      23.9%  1998
3   BUF      20.0%  1998
4   NYJ      17.9%  1998
5   DAL      14.9%  1998
6   TEN      12.3%  1998
7   JAX       9.9%  1998
8   ATL       7.0%  1998
9    GB       6.6%  1998
10  MIA       1.3%  1998
11   NE      -0.1%  1998
12  WAS      -0.7%  1998
13  IND      -1.1%  1998
14   KC      -2.2%  1998
15  CIN      -4.3%  1998
16  CHI      -5.0%  1998
17  ARI      -6.2%  1998
18  DET      -6.3%  1998
19  PIT      -6.6%  1998
20   TB      -7.2%  1998
21  CAR      -7.8%  1998
22  BAL      -7.8%  1998
23  NYG      -9.7%  1998
24  SEA     -10.3%  1998
25  STL     -13.4%  1998
26   NO     -22.7%  1998
27  PHI     -23.5%  1998
28  OAK     -24.8%  1998
29   SD     -25.7%  1998

In [333]:
# dvoa_1999 = pd.read_csv('1999 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_1999['Year'] = 1999
# dvoa_1999

   Team Total DVOA  Year
0   WAS      21.8%  1999
1   OAK      20.8%  1999
2   TEN      18.5%  1999
3   STL      18.1%  1999
4   IND      14.2%  1999
5    KC      14.1%  1999
6   BUF      12.8%  1999
7   MIN      11.9%  1999
8   JAX      11.5%  1999
9   CAR      10.0%  1999
10   GB       8.0%  1999
11  DAL       4.5%  1999
12  NYJ       4.1%  1999
13  DEN       3.6%  1999
14  DET      -0.7%  1999
15   SF      -1.7%  1999
16  SEA      -2.7%  1999
17  CHI      -3.8%  1999
18  PIT      -5.4%  1999
19  MIA      -6.6%  1999
20  NYG      -6.9%  1999
21   NE      -7.6%  1999
22  CIN     -10.0%  1999
23   TB     -10.3%  1999
24  ATL     -10.9%  1999
25  CLE     -11.3%  1999
26  BAL     -13.4%  1999
27   SD     -18.1%  1999
28  PHI     -22.8%  1999
29  ARI     -23.2%  1999
30   NO     -24.5%  1999

In [334]:
# dvoa_2000 = pd.read_csv('2000 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2000['Year'] = 2000
# dvoa_2000

   Team Total DVOA  Year
0   STL      27.0%  2000
1   IND      26.7%  2000
2   DEN      20.2%  2000
3    SF      18.8%  2000
4   MIN      18.5%  2000
5   OAK      17.4%  2000
6    KC      13.3%  2000
7   NYG       9.1%  2000
8   PIT       8.9%  2000
9   JAX       6.6%  2000
10   TB       5.0%  2000
11  WAS       4.0%  2000
12   GB       3.7%  2000
13  BUF       3.4%  2000
14  TEN       1.1%  2000
15  PHI       0.9%  2000
16  NYJ      -0.1%  2000
17   NO      -1.1%  2000
18  MIA      -1.3%  2000
19   NE      -4.4%  2000
20  SEA      -5.4%  2000
21  BAL      -8.1%  2000
22  CHI      -9.0%  2000
23  DAL     -10.8%  2000
24  DET     -16.4%  2000
25  CAR     -17.9%  2000
26  ARI     -20.0%  2000
27  CIN     -20.5%  2000
28   SD     -26.4%  2000
29  CLE     -29.4%  2000
30  ATL     -30.2%  2000

In [335]:
# dvoa_2001 = pd.read_csv('2001 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2001['Year'] = 2001
# dvoa_2001

   Team Total DVOA  Year
0   STL      21.3%  2001
1    SF      21.2%  2001
2   OAK      18.4%  2001
3   PIT      14.9%  2001
4    KC      10.9%  2001
5    GB       8.5%  2001
6   TEN       7.6%  2001
7   IND       6.8%  2001
8   ARI       5.4%  2001
9   NYJ       4.2%  2001
10   NE       3.6%  2001
11  PHI       3.3%  2001
12   TB       3.2%  2001
13  SEA       1.9%  2001
14  DEN       0.7%  2001
15  NYG       0.1%  2001
16   SD      -0.1%  2001
17  CHI      -0.3%  2001
18  JAX      -2.0%  2001
19  MIA      -3.1%  2001
20  BUF      -4.6%  2001
21  MIN      -5.0%  2001
22   NO      -6.8%  2001
23  BAL      -7.1%  2001
24  ATL     -11.3%  2001
25  CIN     -11.5%  2001
26  WAS     -11.6%  2001
27  DET     -11.9%  2001
28  DAL     -15.6%  2001
29  CLE     -19.9%  2001
30  CAR     -27.2%  2001

In [336]:
# dvoa_2002 = pd.read_csv('2002 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2002['Year'] = 2002
# dvoa_2002

   Team Total DVOA  Year
0    KC      35.4%  2002
1   OAK      22.8%  2002
2    SF      19.0%  2002
3   NYJ      18.4%  2002
4   DEN      17.0%  2002
5   TEN       9.0%  2002
6   SEA       7.8%  2002
7   JAX       7.6%  2002
8    NE       7.0%  2002
9   PHI       6.9%  2002
10  MIA       6.9%  2002
11  PIT       6.7%  2002
12  NYG       4.2%  2002
13   GB       3.1%  2002
14  ATL       1.8%  2002
15   SD       1.5%  2002
16  MIN       1.0%  2002
17  BUF       0.8%  2002
18  IND       0.4%  2002
19   TB      -3.5%  2002
20   NO      -4.6%  2002
21  CIN      -5.4%  2002
22  BAL      -6.0%  2002
23  CLE      -6.4%  2002
24  WAS      -7.2%  2002
25  STL     -10.4%  2002
26  ARI     -12.3%  2002
27  CHI     -14.0%  2002
28  DAL     -24.9%  2002
29  CAR     -24.9%  2002
30  DET     -25.3%  2002
31  HOU     -43.3%  2002

In [337]:
# dvoa_2003 = pd.read_csv('2003 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2003['Year'] = 2003
# dvoa_2003

   Team Total DVOA  Year
0    KC      33.9%  2003
1   TEN      18.0%  2003
2   IND      17.9%  2003
3   PHI      17.6%  2003
4   SEA      16.7%  2003
5   MIN      13.7%  2003
6    GB      12.1%  2003
7   NYJ      12.0%  2003
8   DEN       9.6%  2003
9   CIN       8.3%  2003
10   SF       7.8%  2003
11   SD       3.7%  2003
12   NO       2.6%  2003
13   NE       1.4%  2003
14  JAX       1.1%  2003
15   TB      -1.0%  2003
16  MIA      -4.6%  2003
17  CAR      -4.8%  2003
18  PIT      -6.0%  2003
19  STL      -7.0%  2003
20  WAS      -7.1%  2003
21  DAL      -7.1%  2003
22  CLE      -8.8%  2003
23  OAK      -9.3%  2003
24  ATL      -9.9%  2003
25  NYG     -11.5%  2003
26  BAL     -13.0%  2003
27  HOU     -15.0%  2003
28  BUF     -16.3%  2003
29  CHI     -16.7%  2003
30  ARI     -21.8%  2003
31  DET     -21.9%  2003

In [338]:
# dvoa_2004 = pd.read_csv('2004 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2004['Year'] = 2004
# dvoa_2004

   Team Total DVOA  Year
0   IND      32.2%  2004
1    KC      31.1%  2004
2    NE      24.5%  2004
3   NYJ      21.1%  2004
4    SD      17.3%  2004
5   MIN      17.0%  2004
6    GB      17.0%  2004
7   PIT      16.9%  2004
8   PHI      15.1%  2004
9   DEN      14.2%  2004
10  CIN       3.7%  2004
11  SEA       3.0%  2004
12  CAR      -0.3%  2004
13  OAK      -0.8%  2004
14  BAL      -2.1%  2004
15  HOU      -2.1%  2004
16  TEN      -3.5%  2004
17  JAX      -3.7%  2004
18  STL      -3.9%  2004
19  DAL      -4.7%  2004
20  BUF      -5.5%  2004
21   TB      -7.3%  2004
22  ATL     -10.3%  2004
23  DET     -10.4%  2004
24  NYG     -11.2%  2004
25   NO     -12.8%  2004
26  CLE     -14.5%  2004
27  WAS     -18.4%  2004
28   SF     -22.0%  2004
29  ARI     -23.6%  2004
30  MIA     -29.9%  2004
31  CHI     -36.7%  2004

In [339]:
# dvoa_2005 = pd.read_csv('2005 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2005['Year'] = 2005
# dvoa_2005

   Team Total DVOA  Year
0   SEA      28.9%  2005
1   DEN      27.4%  2005
2   IND      25.1%  2005
3    KC      23.9%  2005
4   CIN      23.1%  2005
5    SD      22.5%  2005
6    NE      18.0%  2005
7   PIT      12.3%  2005
8   NYG      10.4%  2005
9   WAS       8.4%  2005
10  JAX       5.9%  2005
11  ATL       3.3%  2005
12  DAL       2.8%  2005
13  CAR       0.8%  2005
14  OAK      -0.6%  2005
15   GB      -4.0%  2005
16   TB      -5.0%  2005
17  MIA      -7.6%  2005
18  PHI      -7.7%  2005
19  STL      -8.2%  2005
20  TEN      -8.4%  2005
21  ARI      -9.8%  2005
22  BAL     -11.6%  2005
23  CLE     -12.0%  2005
24   NO     -12.2%  2005
25  MIN     -13.9%  2005
26  HOU     -15.7%  2005
27  CHI     -17.0%  2005
28  BUF     -17.7%  2005
29  DET     -17.8%  2005
30  NYJ     -19.9%  2005
31   SF     -41.2%  2005

In [340]:
# dvoa_2006 = pd.read_csv('2006 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2006['Year'] = 2006
# dvoa_2006

   Team Total DVOA  Year
0   IND      29.4%  2006
1    SD      25.8%  2006
2   PHI      21.2%  2006
3    NE      14.7%  2006
4   CIN      14.4%  2006
5   DAL      12.1%  2006
6   NYG      11.8%  2006
7    NO      10.1%  2006
8   JAX       7.6%  2006
9   PIT       7.4%  2006
10   KC       6.1%  2006
11  NYJ       5.4%  2006
12  WAS       3.6%  2006
13  STL       2.4%  2006
14  BAL       1.0%  2006
15  ATL      -1.0%  2006
16  CAR      -2.1%  2006
17  CHI      -4.6%  2006
18  DEN      -4.8%  2006
19   GB      -5.0%  2006
20  HOU      -6.3%  2006
21  BUF      -7.0%  2006
22   SF      -8.5%  2006
23  TEN      -9.5%  2006
24  ARI      -9.7%  2006
25  MIA     -10.0%  2006
26  SEA     -11.7%  2006
27  DET     -13.7%  2006
28  CLE     -16.3%  2006
29   TB     -16.4%  2006
30  MIN     -17.8%  2006
31  OAK     -37.2%  2006

In [341]:
# dvoa_2007 = pd.read_csv('2007 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2007['Year'] = 2007
# dvoa_2007

   Team Total DVOA  Year
0    NE      44.1%  2007
1   IND      23.0%  2007
2   JAX      21.9%  2007
3   DAL      17.4%  2007
4    GB      16.0%  2007
5   PHI      12.7%  2007
6   CIN      12.2%  2007
7   DEN       9.1%  2007
8   CLE       8.2%  2007
9   PIT       8.1%  2007
10   NO       6.7%  2007
11  SEA       6.6%  2007
12   TB       5.9%  2007
13   SD       5.2%  2007
14  HOU       1.6%  2007
15  MIN      -0.8%  2007
16  WAS      -0.9%  2007
17  NYG      -1.1%  2007
18  TEN      -3.5%  2007
19  ARI      -3.8%  2007
20  MIA      -6.7%  2007
21  NYJ      -9.6%  2007
22  BUF     -10.1%  2007
23  DET     -10.3%  2007
24  BAL     -13.5%  2007
25  CAR     -14.8%  2007
26  ATL     -16.8%  2007
27  OAK     -18.0%  2007
28   KC     -19.6%  2007
29  CHI     -22.2%  2007
30  STL     -23.2%  2007
31   SF     -32.8%  2007

In [342]:
# dvoa_2008 = pd.read_csv('2008 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2008['Year'] = 2008
# dvoa_2008

   Team Total DVOA  Year
0   NYG      19.3%  2008
1    SD      18.9%  2008
2   DEN      18.9%  2008
3    NO      16.5%  2008
4   IND      14.2%  2008
5   CAR      13.3%  2008
6    NE      12.4%  2008
7   MIA      12.2%  2008
8   ATL       8.9%  2008
9   WAS       8.4%  2008
10   GB       7.5%  2008
11  PHI       6.8%  2008
12  JAX       6.2%  2008
13  HOU       5.9%  2008
14  TEN       4.6%  2008
15  ARI       4.4%  2008
16  DAL       1.7%  2008
17  NYJ       0.2%  2008
18  BAL       0.0%  2008
19   TB      -0.3%  2008
20  PIT      -1.2%  2008
21   KC      -8.9%  2008
22  CHI      -9.1%  2008
23  MIN     -10.0%  2008
24  BUF     -10.1%  2008
25  SEA     -14.8%  2008
26   SF     -15.8%  2008
27  CIN     -18.7%  2008
28  CLE     -21.3%  2008
29  DET     -25.6%  2008
30  OAK     -26.3%  2008
31  STL     -29.0%  2008

In [343]:
# dvoa_2009 = pd.read_csv('2009 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2009['Year'] = 2009
# dvoa_2009

   Team Total DVOA  Year
0    NE      26.7%  2009
1    NO      24.7%  2009
2   DAL      21.8%  2009
3    SD      19.8%  2009
4    GB      19.4%  2009
5   IND      17.2%  2009
6   PIT      14.7%  2009
7   MIN      13.1%  2009
8   BAL      12.9%  2009
9   HOU      10.2%  2009
10  PHI       9.9%  2009
11  NYG       8.8%  2009
12  ARI       6.8%  2009
13  ATL       5.6%  2009
14  JAX       4.2%  2009
15  MIA       3.9%  2009
16  TEN       3.6%  2009
17  DEN       1.1%  2009
18  CIN      -0.6%  2009
19  CAR      -1.7%  2009
20  WAS      -8.3%  2009
21  NYJ     -11.9%  2009
22   SF     -13.7%  2009
23  CLE     -16.8%  2009
24   KC     -18.7%  2009
25   TB     -19.4%  2009
26  SEA     -19.8%  2009
27  CHI     -20.1%  2009
28  BUF     -20.8%  2009
29  OAK     -25.9%  2009
30  DET     -28.6%  2009
31  STL     -30.0%  2009

In [344]:
# dvoa_2010 = pd.read_csv('2010 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2010['Year'] = 2010
# dvoa_2010

   Team Total DVOA  Year
0    NE      42.8%  2010
1   HOU      21.6%  2010
2   PHI      18.2%  2010
3    SD      15.6%  2010
4   PIT      14.5%  2010
5   IND      13.1%  2010
6    GB      11.9%  2010
7   ATL       8.3%  2010
8    TB       8.1%  2010
9   NYG       7.3%  2010
10   NO       6.3%  2010
11  BAL       5.7%  2010
12   KC       4.1%  2010
13  JAX       3.5%  2010
14  NYJ       2.3%  2010
15  CIN       1.6%  2010
16  DEN       1.5%  2010
17  MIA       1.0%  2010
18  DET      -0.6%  2010
19  TEN      -4.2%  2010
20  CLE      -5.0%  2010
21  DAL      -5.0%  2010
22  OAK      -8.2%  2010
23   SF     -10.9%  2010
24  WAS     -11.4%  2010
25  BUF     -14.5%  2010
26  MIN     -14.7%  2010
27  CHI     -16.0%  2010
28  SEA     -17.8%  2010
29  STL     -18.3%  2010
30  ARI     -35.8%  2010
31  CAR     -36.2%  2010

In [345]:
# dvoa_2011 = pd.read_csv('2011 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2011['Year'] = 2011
# dvoa_2011

   Team Total DVOA  Year
0    GB      34.2%  2011
1    NO      33.5%  2011
2    NE      32.6%  2011
3   CAR      18.5%  2011
4    SD      13.2%  2011
5   PIT      11.6%  2011
6   NYG      10.3%  2011
7   PHI      10.1%  2011
8   HOU       9.0%  2011
9   DET       7.2%  2011
10  ATL       6.3%  2011
11  DAL       5.9%  2011
12  BAL       3.1%  2011
13  OAK       2.9%  2011
14  TEN       0.5%  2011
15  BUF       0.3%  2011
16  CIN      -1.4%  2011
17   SF      -3.7%  2011
18  WAS      -7.0%  2011
19  MIA      -7.2%  2011
20  NYJ      -8.3%  2011
21  SEA      -8.9%  2011
22  DEN     -10.3%  2011
23  MIN     -10.6%  2011
24  CLE     -11.5%  2011
25   TB     -11.6%  2011
26  IND     -17.9%  2011
27  ARI     -18.7%  2011
28   KC     -19.5%  2011
29  CHI     -20.8%  2011
30  JAX     -27.1%  2011
31  STL     -27.6%  2011

In [346]:
# dvoa_2012 = pd.read_csv('2012 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2012['Year'] = 2012
# dvoa_2012

   Team Total DVOA  Year
0    NE      31.1%  2012
1   DEN      22.7%  2012
2    GB      19.6%  2012
3   SEA      18.6%  2012
4    SF      17.4%  2012
5   WAS      16.0%  2012
6   NYG      12.9%  2012
7   DET      12.1%  2012
8    NO      12.0%  2012
9   CAR       7.6%  2012
10  ATL       6.6%  2012
11  DAL       6.2%  2012
12  BAL       3.0%  2012
13  MIN       1.1%  2012
14   TB       0.7%  2012
15  HOU       0.3%  2012
16  CIN      -2.1%  2012
17  IND      -2.5%  2012
18  STL      -4.1%  2012
19  PIT      -4.3%  2012
20  BUF      -4.6%  2012
21  MIA      -8.6%  2012
22  OAK     -10.1%  2012
23   SD     -10.4%  2012
24  CHI     -10.7%  2012
25  PHI     -11.2%  2012
26  CLE     -15.2%  2012
27  JAX     -18.6%  2012
28  NYJ     -20.5%  2012
29  TEN     -21.1%  2012
30   KC     -26.0%  2012
31  ARI     -31.1%  2012

In [347]:
# dvoa_2013 = pd.read_csv('2013 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2013['Year'] = 2013
# dvoa_2013

   Team Total DVOA  Year
0   DEN      34.2%  2013
1    SD      23.6%  2013
2   PHI      22.6%  2013
3    NE      16.5%  2013
4    NO      16.3%  2013
5   CHI      13.4%  2013
6   SEA      10.1%  2013
7    SF       9.1%  2013
8   CAR       8.7%  2013
9    GB       8.5%  2013
10  DAL       7.2%  2013
11  IND       4.4%  2013
12  PIT       4.4%  2013
13  ATL       3.2%  2013
14   KC       3.1%  2013
15  TEN       1.6%  2013
16  CIN       0.9%  2013
17  DET      -2.1%  2013
18  MIA      -2.3%  2013
19  ARI      -2.5%  2013
20  MIN      -4.4%  2013
21  STL      -9.7%  2013
22   TB     -10.0%  2013
23  WAS     -10.1%  2013
24  BUF     -11.8%  2013
25  CLE     -14.6%  2013
26  NYJ     -15.5%  2013
27  OAK     -17.1%  2013
28  HOU     -19.3%  2013
29  NYG     -22.0%  2013
30  BAL     -22.0%  2013
31  JAX     -30.3%  2013

In [348]:
# dvoa_2014 = pd.read_csv('2014 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2014['Year'] = 2014
# dvoa_2014

   Team Total DVOA  Year
0    GB      25.2%  2014
1   PIT      22.9%  2014
2   DEN      20.3%  2014
3   SEA      17.4%  2014
4   DAL      17.2%  2014
5    NE      13.9%  2014
6   MIA      10.4%  2014
7    NO      10.1%  2014
8   BAL       9.8%  2014
9    SD       7.0%  2014
10  ATL       6.9%  2014
11   KC       5.4%  2014
12  PHI       1.1%  2014
13   SF      -0.3%  2014
14  NYG      -0.5%  2014
15  CHI      -0.8%  2014
16  CIN      -0.9%  2014
17  IND      -1.3%  2014
18  DET      -3.5%  2014
19  CAR      -4.9%  2014
20  HOU      -6.5%  2014
21  MIN      -7.6%  2014
22  ARI      -9.1%  2014
23  CLE     -10.3%  2014
24  STL     -11.0%  2014
25  BUF     -11.2%  2014
26  NYJ     -11.6%  2014
27  WAS     -12.8%  2014
28  TEN     -16.1%  2014
29  OAK     -19.9%  2014
30  JAX     -24.8%  2014
31   TB     -26.5%  2014

In [349]:
# dvoa_2015 = pd.read_csv('2015 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2015['Year'] = 2015
# dvoa_2015

   Team Total DVOA  Year
0   SEA      19.7%  2015
1   CIN      19.4%  2015
2   PIT      17.7%  2015
3   ARI      16.2%  2015
4    NE      15.4%  2015
5    KC      13.1%  2015
6   CAR      10.5%  2015
7    NO       9.8%  2015
8   BUF       9.7%  2015
9   CHI       6.6%  2015
10   GB       2.7%  2015
11  WAS       2.0%  2015
12  DET       1.7%  2015
13  NYJ       1.6%  2015
14  MIN       0.5%  2015
15   SD      -0.4%  2015
16  OAK      -1.3%  2015
17   TB      -1.5%  2015
18  NYG      -1.8%  2015
19  JAX      -5.2%  2015
20  BAL      -5.4%  2015
21  ATL      -7.2%  2015
22  MIA      -7.4%  2015
23  DEN      -8.5%  2015
24  HOU      -8.8%  2015
25  PHI     -10.5%  2015
26  CLE     -13.2%  2015
27   SF     -13.9%  2015
28  STL     -15.5%  2015
29  DAL     -15.8%  2015
30  IND     -15.9%  2015
31  TEN     -15.9%  2015

In [350]:
# dvoa_2016 = pd.read_csv('2016 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2016['Year'] = 2016
# dvoa_2016

   Team Total DVOA  Year
0   ATL      25.1%  2016
1    NE      21.2%  2016
2   DAL      20.2%  2016
3    GB      16.6%  2016
4   WAS      15.5%  2016
5    NO      15.2%  2016
6   OAK      12.8%  2016
7   PIT      12.7%  2016
8   TEN      10.8%  2016
9   BUF      10.5%  2016
10  CIN       7.3%  2016
11  IND       3.3%  2016
12   KC       3.1%  2016
13  MIA       1.5%  2016
14  DET      -0.7%  2016
15  SEA      -2.5%  2016
16  CHI      -2.8%  2016
17   SD      -3.3%  2016
18   TB      -3.9%  2016
19  PHI      -5.2%  2016
20  NYG      -5.7%  2016
21  ARI      -6.2%  2016
22  BAL      -7.2%  2016
23   SF      -7.3%  2016
24  CAR      -8.3%  2016
25  MIN      -9.7%  2016
26  JAX     -11.5%  2016
27  DEN     -12.0%  2016
28  CLE     -13.6%  2016
29  HOU     -21.1%  2016
30  NYJ     -22.3%  2016
31  LAR     -38.1%  2016

In [351]:
# dvoa_2017 = pd.read_csv('2017 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2017['Year'] = 2017
# dvoa_2017

   Team Total DVOA  Year
0    NE      27.9%  2017
1    NO      22.4%  2017
2   PIT      17.5%  2017
3    KC      16.4%  2017
4   MIN      12.5%  2017
5   LAR      11.3%  2017
6   PHI      10.5%  2017
7   LAC      10.3%  2017
8   ATL       8.5%  2017
9   DAL       6.6%  2017
10   TB       5.2%  2017
11  DET       4.1%  2017
12  OAK       3.6%  2017
13  SEA       2.2%  2017
14  JAX       0.4%  2017
15   GB       0.0%  2017
16  CAR      -0.1%  2017
17  TEN      -2.1%  2017
18   SF      -3.0%  2017
19  WAS      -3.8%  2017
20  BAL      -4.6%  2017
21  CIN      -6.9%  2017
22  NYG      -9.4%  2017
23  HOU     -10.1%  2017
24  NYJ     -10.7%  2017
25  BUF     -11.1%  2017
26  MIA     -13.6%  2017
27  CHI     -15.0%  2017
28  ARI     -18.1%  2017
29  IND     -18.3%  2017
30  DEN     -18.7%  2017
31  CLE     -20.1%  2017

In [352]:
# dvoa_2018 = pd.read_csv('2018 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2018['Year'] = 2018
# dvoa_2018

   Team Total DVOA  Year
0    KC      35.4%  2018
1   LAR      25.0%  2018
2   LAC      20.8%  2018
3    NO      16.1%  2018
4    NE      14.7%  2018
5   PIT      14.3%  2018
6    GB      11.2%  2018
7   SEA       9.1%  2018
8   ATL       8.9%  2018
9   IND       7.9%  2018
10  CAR       6.0%  2018
11   TB       5.9%  2018
12  BAL       1.2%  2018
13  NYG       1.1%  2018
14  DEN       0.8%  2018
15  PHI      -0.4%  2018
16  CLE      -0.7%  2018
17  MIN      -1.2%  2018
18  HOU      -2.8%  2018
19  CHI      -3.1%  2018
20  CIN      -3.7%  2018
21  DET      -5.2%  2018
22  TEN      -5.6%  2018
23  DAL      -6.3%  2018
24  OAK      -7.7%  2018
25  MIA      -9.5%  2018
26   SF     -15.8%  2018
27  WAS     -19.8%  2018
28  NYJ     -20.2%  2018
29  JAX     -21.7%  2018
30  BUF     -27.5%  2018
31  ARI     -41.8%  2018

In [353]:
# dvoa_2019 = pd.read_csv('2019 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2019['Year'] = 2019
# dvoa_2019

   Team Total DVOA  Year
0   BAL      28.2%  2019
1   DAL      24.5%  2019
2    KC      23.5%  2019
3    NO      22.0%  2019
4   SEA      17.7%  2019
5   TEN      13.0%  2019
6    SF       7.7%  2019
7    GB       6.6%  2019
8   OAK       5.4%  2019
9   MIN       4.8%  2019
10   NE       4.3%  2019
11  LAC       3.5%  2019
12  ARI       3.2%  2019
13  PHI       2.4%  2019
14  ATL       2.3%  2019
15  LAR       0.6%  2019
16  HOU       0.6%  2019
17  DET      -3.0%  2019
18  IND      -3.4%  2019
19  CLE      -4.8%  2019
20  BUF      -7.1%  2019
21  NYG      -7.4%  2019
22   TB      -7.4%  2019
23  JAX      -9.9%  2019
24  CHI      -9.9%  2019
25  DEN     -11.3%  2019
26  CAR     -14.4%  2019
27  MIA     -14.5%  2019
28  CIN     -16.6%  2019
29  WAS     -20.7%  2019
30  PIT     -25.1%  2019
31  NYJ     -25.4%  2019

In [354]:
# dvoa_2020 = pd.read_csv('2020 Team DVOA Ratings Offense.csv', usecols = [0,2])
# dvoa_2020['Year'] = 2020
# dvoa_2020

   Team Total DVOA  Year
0    GB      29.1%  2020
1    KC      23.9%  2020
2    TB      19.8%  2020
3   TEN      18.4%  2020
4   BUF      15.6%  2020
5   SEA      13.7%  2020
6    NO      10.7%  2020
7   MIN       6.3%  2020
8   CLE       5.4%  2020
9   LAR       4.4%  2020
10  BAL       4.3%  2020
11  IND       2.7%  2020
12  HOU       2.7%  2020
13   LV       1.8%  2020
14  LAC       1.5%  2020
15  DET       0.0%  2020
16  CAR      -0.2%  2020
17  MIA      -2.1%  2020
18  ARI      -2.4%  2020
19   SF      -2.5%  2020
20  ATL      -3.1%  2020
21  PIT      -4.7%  2020
22   NE      -7.3%  2020
23  DAL      -8.5%  2020
24  CHI     -10.6%  2020
25  NYG     -11.8%  2020
26  JAX     -12.6%  2020
27  PHI     -16.9%  2020
28  CIN     -18.2%  2020
29  DEN     -20.0%  2020
30  NYJ     -20.5%  2020
31  WAS     -21.8%  2020

In [362]:
dvoa_df = pd.concat([dvoa_1994, dvoa_1995, dvoa_1996, dvoa_1997, dvoa_1998, dvoa_1999, dvoa_2000, dvoa_2001, dvoa_2002, dvoa_2003, dvoa_2004, dvoa_2005, dvoa_2006, dvoa_2007, dvoa_2008, dvoa_2009, dvoa_2010, dvoa_2011, dvoa_2012, dvoa_2013, dvoa_2014, dvoa_2015, dvoa_2016, dvoa_2017, dvoa_2018, dvoa_2019, dvoa_2020,], axis=0, ignore_index=True)
dvoa_df

    Team Total DVOA  Year
0     SF      19.5%  1994
1    DAL      18.8%  1994
2    MIA      18.5%  1994
3    PIT      13.5%  1994
4     GB      13.5%  1994
..   ...        ...   ...
844  PHI     -16.9%  2020
845  CIN     -18.2%  2020
846  DEN     -20.0%  2020
847  NYJ     -20.5%  2020
848  WAS     -21.8%  2020

[849 rows x 3 columns]

## Test Code

In [ ]:
# team_page = driver.find_element_by_xpath("//a[@href='/teams/crd/{}.htm']").format(year)
# driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
# time.sleep(10)

In [ ]:
# driver.execute_script("arguments[0].scrollIntoView();", team_page)

In [ ]:
# time.sleep(10)
# driver.execute_script("window.scrollBy(0, -150);")

In [ ]:
# time.sleep(5)
# team_page.click()

In [ ]:
# # Grab offensive splits
# time.sleep(10)
# Arizona_2016_splits = driver.find_element_by_xpath("//div[@id='bottom_nav_container']//a[@href='/teams/crd/2016_splits.htm']")
# driver.execute_script("arguments[0].scrollIntoView();", Arizona_2016_splits)

In [ ]:
# time.sleep(10)
# driver.execute_script("window.scrollBy(0, 150);")

In [ ]:
# Arizona_2016_splits.click()

In [ ]:
#soup = BeautifulSoup(driver.page_source, 'html.parser')

In [ ]:
# splits_by_down_table = soup.find(id = 'div_down_splits')

In [ ]:
# num_of_plays_1st = int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[1].text)
# num_of_plays_1st

In [ ]:
# First Feature
# passing_plays_1st = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[1].text) / num_of_plays_1st
# passing_plays_1st

In [ ]:
# num_of_plays_2nd = int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[2].text)
# num_of_plays_2nd

In [ ]:
# Second Feature
# passing_plays_2nd = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[2].text) / num_of_plays_2nd
# passing_plays_2nd

In [ ]:
# num_of_plays_3rd = int(splits_by_down_table.find_all(attrs={"data-stat": "plays"})[3].text)
# num_of_plays_3rd

In [ ]:
# Third Feature
# passing_plays_3rd = int(splits_by_down_table.find_all(attrs={"data-stat": "pass_att"})[3].text) / num_of_plays_3rd
# passing_plays_3rd

In [ ]:
# Fourth Feature
# yards_to_go_2nd = float(splits_by_down_table.find_all(attrs={"data-stat": "yds_to_go"})[2].text)
# yards_to_go_2nd

In [ ]:
# Fifth Feature
# yards_to_go_3rd = float(splits_by_down_table.find_all(attrs={"data-stat": "yds_to_go"})[3].text)
# yards_to_go_3rd

In [ ]:
# Sixth Feature
# conversion_1st = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[1].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[1].text) ) / num_of_plays_1st
# conversion_1st

In [ ]:
# Seventh Feature
# conversion_2nd = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[2].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[2].text) ) / num_of_plays_2nd
# conversion_2nd

In [ ]:
# Eighth Feature
# conversion_3rd = (int(splits_by_down_table.find_all(attrs={"data-stat": "rush_first_down"})[3].text) + int(splits_by_down_table.find_all(attrs={"data-stat": "pass_first_down"})[3].text) ) / num_of_plays_3rd
# conversion_3rd

In [ ]:
# splits_by_pf_table = soup.find(id = 'div_pt_diff_splits')

In [ ]:
# Nineth Feature
# leading_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[1].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[1].text)
# leading_passing_plays

In [ ]:
# Tenth Feature
# tied_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[2].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[2].text)
# tied_passing_plays

In [ ]:
# Eleventh Feature
# trailing_passing_plays = int(splits_by_pf_table.find_all(attrs={"data-stat": "pass_att"})[3].text) / int(splits_by_pf_table.find_all(attrs={"data-stat": "plays"})[3].text)
# trailing_passing_plays

# Quit

In [313]:
#driver.quit()